@import '../abstract/colors';
@import "../abstract/font";
@import "../abstract/mixins";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, active, hover, selected, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}
ol,ul {
  list-style: none;
}
body {
  box-sizing: content-box;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: $header_bckg_c;
  padding-bottom: 205px;
  .disappearing_header {
    transition: 1s;
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    padding-top: 57px;
    //background-color: $header_bckg_c;
    .nav_box {
      z-index: 500;
      position: absolute;
      left: 15px;
      opacity: 0;
      border-radius: 0;
      height: 32px;
      width: 0;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      transform: rotate(0deg);
      transition: 1s;
      span {
        border-radius: 0;
        margin-top: -1.2px;
        display: block;
        width: 0;
        height: 32px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(45deg);
        transition: 1s;
      }
    }
    .nav_box:hover {
      transform: rotate(360deg);
    }
  }
  .main_header {
    display: flex;
    position: relative;
    padding: 0 39px 0 61px;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    top: 0;
    transition: 0.8s;
    .for_nav {
      z-index: 201;
    }
    .nav_bar {
      display: flex;
      justify-content: space-between;
      padding: 9.8px 7px 0 10.5px;
      font-kerning: none;
      letter-spacing: 0.12px;
      .nav_bar_item {
        font-family: titilliumweb_regular, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        list-style-type: none;
        &:nth-child(2) {
          letter-spacing: 0.24px;
          padding-left: 0.8px;
        }
        &:nth-child(3) {
          letter-spacing: 0.24px;
        }
        &:nth-child(4) {
          letter-spacing: 0.16px;
          padding-right: 1px;
        }
        &:nth-child(5) {
          letter-spacing: -0.09px;
        }
        a {
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          color: $header_nav_bar_items_c;
        }

      }
    }
  }
  .for_shadow_all {
    padding: 3px 100px 0 0;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: flex;
  }
  .for_shadow {
    height: 33px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:-6px;
    :last-child {
      margin-right: -5px;
    }
  }
  .for_shadow_l {
    padding: 0;
    height:40px;
  }
  .shadow {
    visibility: hidden;
    height:100%;
    border-radius: 5px;
    background-color:rgba(0,0,0,.25);
    width: 77.5px;
  }
  .header_congratulatory_text {
    padding-top: 228px;
    width: 100%;
  }
  .menu_transform {
    align-items: flex-end;
  }
  img {
    width: 118px;
    height: 37px;
  }
  .congratulatory_text {
    padding-left: 36px;
    font-kerning: none;
    text-align: center;
    font-family: titilliumweb_bold, sans-serif;
    color: $header_congratulatory_text_c;
    font-style: normal;
    letter-spacing: 0;
    line-height: 49px;
    font-weight: 400;
    font-size: 42.2px;
    :first-child {
      margin-right: 5px;
    }
  }
  .header_button {
    width: 100%;
    padding-left: 24px;
    .link {
      position: relative;
      bottom: -55px;
      margin: 0 auto;
      width: min-content;
    }
    input {
      transition: .8s;
      padding-left: 7px;
      padding-top: 3px;
      text-transform: uppercase;
      font-family: titilliumweb_semibold, sans-serif;
      text-align: center;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.434px;
      @include button(293px, 65px, $header_bckg_button_c, $header_button_c);
      @include box-shadow(5px, #c86a40);
    }
    input:hover {
      color: rgba($header_button_c,0.8);
      font-size: 20px;
      box-shadow: 0 0 15px rgba(11, 6, 62, 0.7);
    }
    input:active {
      font-size: 14px;
    }
  }
}
@media (max-width: 933px) {
  header {
    padding-bottom: 100px;
    .header_congratulatory_text {
      padding-top: 160px;
    }
  }
}
@media (max-width: 760px){
  header {
    .for_shadow_all {
      padding: 3px 41px 0 0;
    }
    .for_shadow {
      margin-left: 0;
      :last-child {
        margin-right: 0;
        padding-right: 60px;
      }
    }
    img {
      width: 98px;
      height: 30px;
    }
    .disappearing_header {
      padding-top: 30px;
      .main_header {
        padding: 0 21px 0 21px;
      }
    }
    .header_congratulatory_text {
      padding-top: 120px;//90
    }
    .congratulatory_text {
      font-size: 35px;
    }
    .header_button {
      input {
        font-size: 16px;
        @include button(233px, 55px, $header_bckg_button_c, $header_button_c);
      }
    }

  }//menu nukatu!
}
@media (max-width: 450px) {
  header {
    .header_congratulatory_text {
      padding-top: 90px;//90
    }
  }
}
section {
  .pagination {
    position:fixed;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:1.4em;
    z-index: 10;
  }
  .pagination a {
    display:block;
    height:20px;
    margin-bottom:5px;
    color:white;
    position:relative;
    padding:4px;
  }
  .pagination a.active:after {
    box-shadow:inset 0 0 0 5px;
  }
  .pagination a .hover-text {
    position:absolute;
    right:15px;
    top:7px;
    opacity:0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
  }
  .pagination a:hover .hover-text {
    opacity: 1;
  }
  .pagination a:after {
    -webkit-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    width:10px;
    height:10px;
    display: block;
    border:1px solid;
    border-radius:50%;
    content:'';
    position: absolute;
    margin:auto;
    top:0;
    right:4px;
    bottom:0;
  }
}
//create_menu

// 2 slide
%before_line {
  font-family: titilliumweb_semibold, sans-serif;
  font-size: 39px;
  line-height: 29px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  padding: 117px 0 23px 3px;
  width: max-content;
  font-kerning: none;
  letter-spacing: 3.82px;
}
%line {
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
  margin: 0 auto;
}
%after_line {
  text-align: center;
  font-family: titilliumweb_regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.35px;
  color: #ffffff;
  padding-top: 17px;
}
%cards_props {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: titilliumweb_regular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.19px;
  color: #ffffff;
}
section {
  .service_section {
    width: 100%;
    background-color: #17c2a4;
    padding-bottom: 123px;
    .headline_1 {
      @extend %before_line;
    }
    .line {
      @extend %line;
    }
    .underline_text {
      @extend  %after_line;
      :first-child {
        word-spacing: 0.5px;
        padding-left: 3px;
      }
      :last-child {
        padding-left: 5px;
      }
    }
    .service_slider {
      max-width: 1040px;
      padding: 82px 0 0 0;
    }

    @include service_cards(1, 120px, 124px, 11px, 0, 0, -39px, -1px, 4px,#ffffff);
    @include service_cards(2, 90px, 131px, 10px, 0, -5px, -38px, -1px, 4px,#ffffff);
    @include service_cards(3, 159px, 126px, 0, 10px, 0, -38px, -3px, 4px,#ffffff);
    @include service_cards(4, 95px, 134px, 0, 6px, -4px, -33px, -3px, 4px,#ffffff);


    .service_cards {
      height: 300px;
      @extend %cards_props;
    }
    @include pagination(0);
  }
}
@media (max-width: 1099px) {
  section {
    .service_section {
      .swiper-pagination-0 {
        display: block;
      }
      .service_slider {
        max-width: 700px;
      }
      @include service_cards(4, 120px, 124px, 11px, 0, 0, -39px, -1px, 4px,#ffffff);
      @include service_cards(1, 90px, 131px, 10px, 0, -5px, -38px, -1px, 4px,#ffffff);
      @include service_cards(2, 159px, 126px, 0, 10px, 0, -38px, -3px, 4px,#ffffff);
      @include service_cards(3, 95px, 134px, 0, 6px, -4px, -33px, -3px, 4px,#ffffff);

    }
  }
}
@media (max-width: 739px) {
  section {
    .service_section {
      .service_slider {
        max-width: 440px;
      }
      @include service_cards(3, 120px, 124px, 11px, 0, 0, -39px, -1px, 4px,#ffffff);
      @include service_cards(4, 90px, 131px, 10px, 0, -5px, -38px, -1px, 4px,#ffffff);
      @include service_cards(1, 159px, 126px, 0, 10px, 0, -38px, -3px, 4px,#ffffff);
      @include service_cards(2, 95px, 134px, 0, 6px, -4px, -33px, -3px, 4px,#ffffff);
    }
  }
}
@media (max-width: 499px) {
  section {
    .service_section {
      .headline_1 {
        font-size: 23px;
      }
      .service_slider {
        max-width: 200px;
      }
      @include service_cards(2, 120px, 124px, 11px, 0, 0, -39px, -1px, 4px,#ffffff);
      @include service_cards(3, 90px, 131px, 10px, 0, -5px, -38px, -1px, 4px,#ffffff);
      @include service_cards(4, 159px, 126px, 0, 10px, 0, -38px, -3px, 4px,#ffffff);
      @include service_cards(1, 95px, 134px, 0, 6px, -4px, -33px, -3px, 4px,#ffffff);

    }
  }
}

section {
  .team {
    width: 100%;
    background-color: #e7f1f8;
    padding-bottom: 127px;
    .headline_1 {
      @extend %before_line;
      color: #3c4761;
      padding: 118px 0 24px 3px;
      letter-spacing: 3.5px;
      word-spacing: 1px;
    }
    .line {
      @extend %line;
    }
    .underline_text {
      @extend %after_line;
      padding-top: 19px;
      font-size: 18.2px;
      letter-spacing: 0.2px;
      word-spacing: 0.5px;
      color: #3c4761;
    }
    .team_slider {
      max-width: 1040px;
      padding: 77px 0 0 0;
    }
    .team_cards {
      img {
        border-radius: 100%;
      }
      @extend %cards_props;
      height: 490px;
      width: 205px;
      align-items: unset;
      .contact_links {
        display: flex;
        justify-content: space-between;
        a {
          @include size(32px,32px);
          img {
            @include size(32px,32px);
          }
        }
      }
    }
    @for $i from 1 to 5 {
      $size: $i * (200/$i);
      @include service_cards(#{$i},#{$size}px,#{$size}px, 0, 0, 0, 0, 0, 0,#27283d);
    }
    @include team(1, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -3px, -5px, 2px, 2px);
    @include team(2, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -2px, -3px, 2px, 6px);
    @include team(3, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -2px, -3px, 3px, 5px);
    @include team(4, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, 2px, -3px, -3px, -5px);
    @include pagination(1);
  }
}
@media (max-width: 1099px) {
  section {
    .team {
      .swiper-pagination-1 {
        display: block;
      }
      .team_slider {
        max-width: 700px;
      }
      @include team(4, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -3px, -5px, 2px, 2px);
      @include team(1, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -2px, -3px, 2px, 6px);
      @include team(2, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -2px, -3px, 3px, 5px);
      @include team(3, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, 2px, -3px, -3px, -5px);
    }
  }
}
@media (max-width: 739px) {
  section {
    .team {
      .headline_1 {
        font-size: 31px;
      }
      .team_slider {
        max-width: 440px;
      }
      @include team(3, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -3px, -5px, 2px, 2px);
      @include team(4, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -2px, -3px, 2px, 6px);
      @include team(1, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, -2px, -3px, 3px, 5px);
      @include team(2, #30bae7, 0, 0 45px 0 40px, 1, 0 23px 0 19px, 2px, -3px, -3px, -5px);
    }
  }
}
@media (max-width: 499px) {
  section {
    .team {
      .headline_1 {
        font-size: 20px;
      }
      .team_slider {
        max-width: 200px;
      }
      @include team(2, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -3px, -5px, 2px, 2px);
      @include team(3, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -2px, -3px, 2px, 6px);
      @include team(4, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, -2px, -3px, 3px, 5px);
      @include team(1, #30bae7, 0, 0 23px 0 19px, 1, 0 45px 0 40px, 2px, -3px, -3px, -5px);
    }
  }
}
@media (max-width: 360px) {
  section {
    .team {
      .headline_1 {
        font-size: 17px;
      }
    }
  }
}
section {
  .skills {
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 113px;
    .headline_1 {
      @extend %before_line;
      color: #3c4761;
      font-size: 38px;
      padding: 116px 0 22px 7px;
      letter-spacing: 4.3px;
    }
    .line {
      @extend %line;
    }
    .underline_text {
      @extend  %after_line;
      color: #3c4761;
      padding-top: 17px;
      :first-child {
        word-spacing: 0.2px;
      }
      :last-child {
        padding-left: 5px;
        letter-spacing: 0.42px;
      }
    }
    .circles {
      width: 200px;
      height: 220px;
      text-align: center;
      span {
        position: relative;
        top: 27px;
        font-family: titilliumweb_semibold, sans-serif;
        font-size: 24px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #3c4761;
      }
    }
    .circle_l {
      left: -1px;
    }
    .circle {
      position: relative;
      top: 1px;
      span {
        font-size: 29px;
        left: 2px;
        top: 0;
      }
    }
    .circle strong {
      color: #3c4761;
      font-family: titilliumweb_light, sans-serif;
      position: absolute;
      top: 42px;
      left: 66px;
      font-weight: 100;
      font-size: 51px;
    }
    .skills-slider {
      max-width: 1040px;
      padding: 82px 0 0 0;
    }
    @include pagination(2);
  }
}
@media (max-width: 1099px) {
  section {
    .skills {
      .skills-slider {
        max-width: 700px;
      }
      .swiper-pagination-2 {
        display: block;
      }
    }
  }
}
@media (max-width: 739px) {
  section {
    .skills {
      .skills-slider {
        max-width: 440px;
      }
    }
  }
}
@media (max-width: 499px) {
  section {
    .skills {
      .skills-slider {
        max-width: 200px;
      }
    }
  }
}
section {
  .portfolio {
    width: 100%;
    background-color: #ffdd99;
    height: 1423px;
    .headline_1 {
      @extend %before_line;
      color: #393939;
      padding: 118px 0 23px 3px;
      letter-spacing: 3.68px;
      word-spacing: 1px;
    }
    .line {
      @extend %line;
    }
    .underline_text {
      @extend %after_line;
      padding-top: 17px;
      font-size: 18.2px;
      letter-spacing: 0.2px;
      word-spacing: 0.5px;
      color: #393939;
      :last-child {
        padding-left: 4px;
        letter-spacing: 0.25px;
      }
    }
    .buttons {
      width: 398px;
      margin: 41px auto 0 auto;
      display: flex;
      @include button_f_portfolio(84px);
      #first_but_port {
        @include but_f_port(12px);
        padding-left: 0;
      }
      #sec_but_port {
        @include but_f_port(5px);
      }
      :nth-child(3){
        button {
          width: 90px;
        }
      }
      :nth-child(4) {
        button {
          width: 90px;
          padding-left: 3px;
        }
      }
    }
    .port_img {
      img {
        @include size(541px, 311px);
      }
    }
  }
}
@media (max-width: 575px) {
  section {
    .portfolio {
      .buttons {
        width: 238px;
        height: 100px;
        :nth-child(3){
          button {
            margin-left: 9px;
          }
        }
        :nth-child(4) {
          button {
            margin-left: 3px;
          }
        }
      }
    }
  }
}












.load {
  width: 100%;
  height: 1000%;
  position: absolute;
  z-index: 10000;
  background-color: black;
  opacity: 1;
  transition: .5s;
}